@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
  font-family: 'Inter';
}

.button:hover {
  transform: scale(1.05) perspective(1px);
  transition-duration: 100ms;
}

.buttonLink {
  text-decoration: none;
}

.navelement {
  margin-left: 40px;
  color: rgb(55, 65, 81);
}

.navelement:hover {
  color: rgb(17, 24, 39);
}
