.App {
  text-align: center;
}

.header {
  background-color: #fef8f0;
  height: 88px;
  width: 100vw;
}

.headercontent {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  padding: 24px 32px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.logo {
}

.button {
  display: flex;
  justify-content: center;
  color: rgb(184, 98, 0);
  background-color: rgb(255, 226, 194);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
}

.buttonLink {
  text-decoration: none;
}
